html {
  background: #151922;
}

header {
  background-color: #262626;
}

body {
  margin: 0px;
  padding: 0px;
}

.icon-header {
  height: 80px;
  width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-header-responsive {
  margin: auto;
  height: 50px;
  width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pageForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #151922;
}

.form-lien {
  background: #151922;
  color: white;
  padding: 30px 50px;
  width: 100%;
}

.form-lien .lien {
  margin-left: 20px;
  border: solid 2px #2a3148;
  letter-spacing: 0.5px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.form-lien .lien:hover {
  color: #007bff;
}

.form-lien .lien:active {
  color: white;
}

form {
  margin-top: 20px;
}

.img-background {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .icon-header {
    display: none;
  }
  .img-background {
    display: none;
  }
  .icon-header-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1225px) {
  .background {
    width: 0%;
    display: none;
  }
  .form {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .icon-header-responsive {
    display: none;
  }
}

header img {
  height: 80px;
  width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .navigation-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navigation-index .lien-index {
  border: solid 2px #2a3148;
  letter-spacing: 0.5px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

header .navigation-index .lien-index:hover {
  color: #007bff;
}

header .navigation-index .lien-index:active {
  color: white;
}

main {
  background: #151922;
  padding: 40px;
}

.CreatePublication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.CreatePublication input {
  padding: 50px;
  width: 850px;
}

.CreatePublication .button-CreatePublication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 20px;
}

.container {
  border-radius: 3px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.container .affichagePublication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .affichagePublication .publication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.container .affichagePublication .commentaire {
  width: 100%;
}

.container .affichagePublication .commentaire p {
  width: 100%;
}

.container img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */